<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="hm.orz.chaos114.android.tumekyouen">

    <application
            android:usesCleartextTraffic="true"
            tools:node="merge">
    </application>

</manifest>
